<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a routerLink="/type-play" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" mat-menu-item>
    <mat-icon>list</mat-icon>
    <span>Opções de jogos</span>
  </a>
  <a routerLink="/category" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" mat-menu-item>
    <mat-icon>format_list_bulleted</mat-icon>
    <span>Gêneros das perguntas</span>
  </a>
  <a routerLink="/playing" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" mat-menu-item>
    <mat-icon>play_circle_filled</mat-icon>
    <span>Iniciar</span>
  </a>
  <a routerLink="/form-quiz" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" mat-menu-item>
    <mat-icon>question_mark</mat-icon>
    <span>Enviar quiz</span>
  </a>
  <a routerLink="/vip" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" mat-menu-item>
    <mat-icon>hotel_class</mat-icon>
    <span>Vip</span>
  </a>
  <a routerLink="/" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </a>
</mat-menu>
